.navbar {
    height: 60px;
    background-color: #000;
    display: flex;
    justify-content: center;
}


.navContainer {
   width: 100%; 
   max-width: 1024px;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: space-between; 
}


.logo {
    font-size: large;
    font-weight: bold;
}

.navButton {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    background-color: inherit;
}

.navButton:hover {
   text-decoration: underline;
   text-underline-offset: 8px;
}